<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}
            Fantasy Football
            {% endblock %}
        </title>
        <style>
            .navbar li {
                display: inline-block;
                margin-right: 20px;
            }
            li {
                margin-bottom: 8px;
            }
        </style>
        {% block scripts %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar">
            <ul>
                {% if user.is_authenticated %}
                <li>
                    {{ user.username }}
                </li>
                <li>
                    <a href="{% url 'logout' %}">Log Out</a></p>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'login' %}">Log In</a>
                </li>
                {% endif %}
                <li><a href="{% url 'Index' %}">Index</a></li>
                <li>
                    <a href="{% url 'Latest Season' %}">
                        Latest Season
                    </a>
                </li>
            </ul>
        </nav>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>